@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,700');

.font-2{
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
}


/* font-family: 'Comfortaa', cursive;*/

.scrollbar{
	height: 4.5rem;
 display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;

}
.scrollbar li a{
	flex: 0 0 auto;
		
 -webkit-overflow-scrolling: touch;
}
.effect-1{
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 16px;
    margin-bottom: 11px;
    height: 17px;
	 -webkit-box-shadow: 0px -5px 22px -4px;
    box-shadow: 0px -5px 22px -4px;
}
.effect-2{
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -15px;
    margin-bottom: 11px;
    height: 17px;
    -webkit-box-shadow: 0px -5px 22px -4px;
    box-shadow: 0px -5px 22px -4px;
}
.effect-3{
	min-height: 50px;
	
}


/*carousel*/
.carousel-indicators-numbers li {
     
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #F1F0F0;
     background-color: rgba(112,98,238,1.00);
      transition: all 0.25s ease;
}

li.active{
	background-color: black !important;
}

.ol-eff-1{
	margin: -0px 150px -60px 0px;
}

.extend{
	min-height: 40px;
}       
     
 /*carousel*/
.carousel-indicators-numbers li {
     
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #F1F0F0;
     background-color: rgba(112,98,238,1.00);
      transition: all 0.25s ease;
}

li.active{
	background-color: black !important;
}

.ol-eff-1{
	margin: -0px 110px -60px 0px;
}

.extend{
	min-height: 40px;
} 
.extend{
	margin-top: 70px;
}
