@charset "UTF-8";
/* CSS Document */




/* font-family: 'Comfortaa', cursive;*/

.scrollbar{
	height: 4.5rem;
 display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;

}
.scrollbar li a{
	flex: 0 0 auto;
		
 -webkit-overflow-scrolling: touch;
}
.effect-1{
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 16px;
    margin-bottom: 11px;
    height: 17px;
	 -webkit-box-shadow: 0px -5px 22px -4px;
    box-shadow: 0px -5px 22px -4px;
}
.effect-2{
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -15px;
    margin-bottom: 11px;
    height: 17px;
    -webkit-box-shadow: 0px -5px 22px -4px;
    box-shadow: 0px -5px 22px -4px;
}
